{% load static %}
<footer>
      <div class="nft-footer p-50">
        <div class="container">
          <div class="row">
            <div class="col-md-3 d-flex gap-3 flex-column align-items-center">
              <div
                class="footer-logo d-flex justify-content-center align-items-center"
              >
                <img
                  class="w-100"
                  src="{% static 'images/Vertical_White_Logo.png' %}"
                />
              </div>
              <ul class="list-unstyled d-flex gap-4 align-items-center">
                <li>
                  <a
                    class="footer-link fs-4"
                    target="_blank"
                    href="https://www.facebook.com/gainju1"
                  >
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="footer-link fs-4"
                    target="_blank"
                    href="https://www.instagram.com/caffeineheadblockchaincoffee/"
                  >
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="footer-link fs-4"
                    href="https://www.youtube.com/@Caffeineheadblockchaincoffee/videos"
                    target="_blank"
                  >
                    <i class="fab fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>

            <!-- Desktop Footer -->
            <div class="footer-list col-md-9 d-flex justify-content-between gap-3 desktop-footer">
              <div class="w-100">
                <h5 class="footer-heading">Careers
                </h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Business Development Manager</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Head Of Sales</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Sales Representative</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Brand Ambassador</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Senior Python Developer</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Blockchain Technologist</a
                    >
                  </li>
                </ul>
              </div>

              <div class="w-100">
                <h5 class="footer-heading">For Business Partners</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Co-operate</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Become affiliate marketer</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Merchandaise</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Staffing</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Catering</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Training</a>
                  </li>
                </ul>
              </div>

              <div class="w-100">
                <h5 class="footer-heading">Upcoming Locations</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2">
                    <a href="{% url 'partnership' %}" class="p-0 footer-link">Sydney</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="{% url 'partnership' %}" class="p-0 footer-link">Melbourne</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="{% url 'partnership' %}" class="p-0 footer-link">Brisbane</a>
                  </li>
                </li>
                <li class="nav-item mb-2">
                  <a href="{% url 'partnership' %}" class="p-0 footer-link">Perth</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="{% url 'partnership' %}" class="p-0 footer-link">Tasmania</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="{% url 'partnership' %}" class="p-0 footer-link">Canberra</a>
                </li>
                <li class="nav-item mb-2">
                  <a href="{% url 'partnership' %}" class="p-0 footer-link">Adelaide</a>
                </li>
                </li>
                </ul>
              </div>


              <div class="w-100">
                <h5 class="footer-heading">Order and Pickup</h5>
                <ul class="nav flex-column">
                    <a href="#" class="p-0 footer-link"
                      >Visit our marketplace</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <!-- Mobile Footer -->
            <div class="footer-list col-md-9 d-flex justify-content-between gap-3 mobile-footer" id="accordionFlushExample">
              <div class="w-100">
                <h5 class="accordion-button collapsed footer-heading" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="flush-headingOne">Careers
                </h5>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <ul class="nav flex-column accordion-body">
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Business Development Manager</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Head Of Sales</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Sales Representative</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Brand Ambassador</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Senior Python Developer</a
                    >
                  </li>
                  <li class="nav-item mb-2">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                      class="p-0 footer-link"
                      >Blockchain Technologist</a
                    >
                  </li>
                </ul>
                </div>

              </div>

              <div class="w-100">
                <h5 class="accordion-button collapsed footer-heading" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" id="flush-headingTwo">For Business Partners</h5>
                <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <ul class="nav flex-column accordion-body">
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Co-operate</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">In-house</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Merchandaise</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Staffing</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Catering</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Training</a>
                  </li>
                </ul>
                </div>
              </div>

              <div class="w-100">
                <h5 class="accordion-button collapsed footer-heading" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" id="flush-headingThree">Social Impact</h5>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <ul class="nav flex-column accordion-body">
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Sustainability</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Zero-waste</a>
                  </li>
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link">Coffee plantation</a>
                  </li>
                </ul>
                </div>
              </div>

              <div class="w-100">
                <h5 class="accordion-button collapsed footer-heading" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" id="flush-headingFour">Order and Pickup</h5>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <ul class="nav flex-column accordion-body">
                  <li class="nav-item mb-2">
                    <a href="#" class="p-0 footer-link"
                      >Visit our marketplace</a
                    >
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright-section">
        <div
          class="d-flex justify-content-between align-items-center container"
        >
          <p class="white-color f-14 regular m-0">
            &copy; Copyright 2023 Caffeinehead Coffee. All rights reserved.
          </p>
          <ul class="list-unstyled d-flex">
            <li class="nav-item mb-2">
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                class="p-0 footer-link"
                >Privacy Policy
              </a>
            </li>
            <span class="px-3 footer-link"> | </span>
            <li class="nav-item mb-2">
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                class="p-0 footer-link"
                >Terms & Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>
