<!-- home url -->
    {% url 'home' as home %}
    <!-- about url -->
    {% url 'about_us' as about_us %}
    <!-- services url -->
    {% url 'services' as services %}
    <!-- products url -->
    {% url 'collection' as collection %}
    <!-- contact url -->
    {% url 'contact_us' as contact_us %}

{% load static %}
<header class="navbar p-0 ele-1 white-bg sticky-top">
    <div class="container position-relative nft-navbar">
          <!-- mobile navbar -->
        <div class="hambuger-nav d-none">
            <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="fa fa-stream regular"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" aria-modal="true" role="dialog">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CaffeineHead</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="side-nav pe-3">
                        <li>
                            <a
                                    href="{% url 'home' %}"
                                    class="nav-link {% if request.path == home %} active {% endif %}"
                            >Home</a
                            >
                        </li>
                        <li>
                            <a
                                    href="{% url 'about_us' %}"
                                    class="nav-link {% if request.path == about_us %} active {% endif %}"
                            >Our Story</a
                            >
                        </li>
                        <li>
                            <a
                                    href="{% url 'services' %}"
                                    class="nav-link {% if request.path == services %} active {% endif %}"
                            >Services</a
                            >
                        </li>
                        <li>
                            <a
                                    href="{% url 'collection' %}"
                                    class="nav-link {% if request.path == collection %} active {% endif %}"
                            >Merch</a
                            >
                        </li>

                        <li>
                            <a
                                    href="{% url 'contact_us' %}"
                                    class="nav-link {% if request.path == contact_us %} active {% endif %}"
                            >Contact Us</a
                            >
                        </li>

                    </ul>
                    <div class="mt-auto d-flex flex-column gap-3 text-end">
                        {% if user.is_authenticated %}
                            <a
                                    href="{% url 'cart' %}"
                                    class="btn p-3 border text-dark w-100 fs-4 d-flex align-items-center justify-content-center gap-4"
                            >
                                <i class="fas fa-cart-plus position-relative">
              <span
                      class="position-absolute top-0 start-100 bg-dark badge rounded-pill translate-middle footer-link"
              >
                <span style="font-size: 12px"> {{ items|length }} </span>
              </span>
                                </i> <p class="m-0 f-14">View Cart</p>
                            </a>

                            <a
                                        class="btn p-3 border text-dark w-100 fs-4 d-flex align-items-center justify-content-center gap-4"
                                        href="#"
                                        role="button"
                                        aria-expanded="false"
                                ><img
                                        src="https://image.shutterstock.com/image-vector/man-shirt-tie-businessman-avatar-260nw-548848999.jpg"
                                        alt=""
                                        style="width: 40px; height: auto"
                                        class="rounded-circle"
                                />
                                <p class="m-0 f-14">View Profile</p>
                            </a>
                            <a href="#" class="danger-bg btn p-3 border text-dark w-100 fs-4 d-flex align-items-center justify-content-center gap-4">
                                <i class="far fa-sign-out-alt white-color"></i>
                                <p class="m-0 f-14 white-color">Logout</p>
                            </a>
                            
                        {% else %}
                            <a
                                    href="{% url 'login' %}"
                                    class="w-100 btn primary-ghost-btn f-14"
                            >Sign In</a
                            >
                            <a
                                    href="{% url 'signup' %}"
                                    class="w-100 btn primary-btn f-14"
                            >Join Now</a
                            >
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- desktop navbar -->
        <ul
                class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
            <li>
                <a
                        href="{% url 'home' %}"
                        class="nav-link {% if request.path == home %} active {% endif %}"
                >Home</a
                >
            </li>
            <li>
                <a
                        href="{% url 'about_us' %}"
                        class="nav-link {% if request.path == about_us %} active {% endif %}"
                >Our Story</a
                >
            </li>
            <li>
                <a
                        href="{% url 'services' %}"
                        class="nav-link {% if request.path == services %} active {% endif %}"
                >Services</a
                >
            </li>
            <li>
                <a
                        href="{% url 'collection' %}"
                        class="nav-link {% if request.path == collection %} active {% endif %}"
                >Merch</a
                >
            </li>

            <li>
                <a
                        href="{% url 'contact_us' %}"
                        class="nav-link {% if request.path == contact_us %} active {% endif %}"
                >Contact Us</a
                >
            </li>
        </ul>

        <div class="button-section d-flex gap-3 text-end">
            {% if user.is_authenticated %}
                <a
                        href="{% url 'cart' %}"
                        class="text-color fs-4 d-flex align-items-center"
                >
                    <i class="fas fa-cart-plus position-relative">
              <span
                      class="position-absolute top-0 start-100 neutral-700-bg border badge rounded-pill translate-middle footer-link opacity-75"
              >
                <span class="f-12 white-color bold" > {{ order_items_count }} </span>
              </span>
                    </i>
                </a>

                <li class="nav-item dropdown" style="list-style-type: none">
                    <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    ><img
                            src="https://image.shutterstock.com/image-vector/man-shirt-tie-businessman-avatar-260nw-548848999.jpg"
                            alt=""
                            style="width: 40px; height: auto"
                            class="rounded-circle"
                    />
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="#"
                            >Dashboard</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Sales</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            <a
                                    href="#"
                                    class="dropdown-item logout"
                            >Logout</a
                            >
                        </li>
                    </ul>
                </li>
            {% else %}
                <a
                        href="{% url 'login' %}"
                        class="btn primary-ghost-btn f-14"
                >Sign In</a
                >
                <a
                        href="{% url 'signup' %}"
                        class="btn primary-btn f-14"
                >Join Now</a
                >
            {% endif %}
        </div>
        <a
                href="/"
                class="main-logo position-absolute top-0 start-50 translate-middle-x ele-1"
        >
            <img
                    src="{% static 'images/logo-green.png' %}"
                    alt=""
                    class="img-fluid"
                    width="100px"
            />
        </a>
    </div>
    <div>
        <!-- modal -->
        <div class="modal fade container end-0 mt-5" id="addedToCart" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog mt-5 position-absolute end-0 top-0">
              <div class="modal-content">
                <div class="d-flex gap-3 flex-column p-4">
                    <div class="d-flex justify-content-between align-items-center">
                       <h5 class="modal-title f-14 text-color d-flex gap-2 align-items-center"><i class="far fa-check text-color"></i>Item(s) added to your cart</h5>
                        <a data-bs-dismiss="modal" aria-label="Close" type="button">
                            <i class="fa fa-solid fa-times neutral-500-color"></i>
                        </a>
                    </div>
                    <table class="table-borderless mt-4 table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex gap-3 align-items-center">
                                        <div
                                        style="height: 70px; width: 70px"
                                        class="d-flex align-items-center position-relative"
                                        >
                                            <img
                                            height="100%"
                                            src="{{ MEDIA_URL }}{{order_item.product.display_image.image}}"
                                            alt=""
                                            />
                                            <span
                                            class="position-absolute top-0 start-100 neutral-700-bg border badge rounded-pill translate-middle footer-link opacity-50"
                                            >
                                                <span class="f-12 white-color bold">
                                                    {{ order_items_count }}
                                                </span>
                                            </span>
                                        </div>
                                        <p class="f-16 m-0">{{ order_item.product.name }}</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex flex-column gap-3">
                         <a class="w-100 primary-ghost-btn" href="{% url 'cart' %}">View Cart (*items number in cart*)
                        </a>
                        <a href="{% url 'payment' %}" class="w-100 primary-btn">GOTO CHECKOUT
                        </a>
                    </div>

                    <a type="button" data-bs-dismiss="modal" class="link-btn text-color"><p class="m-0">Continue Shopping</p>
          <i class="fa fa-angle-right fa-2"></i>
        </a>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</header>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
>

    const toggleButtons = document.querySelectorAll(".navbar__list-drop");
    const menu = document.querySelector("#menu-icon");
    const navbar = document.querySelector(".navbar__menu");

    menu.onclick = () => {
        menu.classList.toggle("active");
        navbar.classList.toggle("right-open");
    };

    (() => {
        toggleButtons.forEach((toggleButton) => {
            toggleButton.addEventListener("click", () => {
                toggleButton.firstElementChild.lastElementChild.classList.toggle("up");
                toggleButton.lastElementChild.classList.toggle("open");
            });
        });
    })();
</script>