# Database
# ------------------------------------------------------------------------------
DJANGO_SECRET_KEY=Pn7IhR6jNnOHuR6Ad91SG6tYskLMugUqYaddOJuzTNNdTeEsMZpfWZ6rKTaZdyIQ9H
DJANGO_ADMIN_URL=admin/
DJANGO_DEBUG=True
DATABASE_URL=postgres://root:root1234@127.0.0.1:5432/caffeinehead
DJANGO_SETTINGS_MODULE=config.settings.local

# ALLOWED HOST
# ------------------------------------------------------------------------------
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.64

DJANGO_ADMINS=Bishnu:sbishnu019@gmail.com

EMAIL_URL=smtp+ssl://username:password@smtp.sendgrid.net:465

CSRF_TRUSTED_ORIGINS=https://caffeineheadblockchaincoffee.com






