/* heading */
.header {
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    }

.header h2 {
    color: #2d5939; /* Dark green */
    font-weight: bold;
}

.header h5 {
    color: #4e7154; /* Lighter green */
}

/* main content */
.main-container {
    display: flex;
    gap: 10px; /* Space between the two groups */
    padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 60px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 60px;
}

.container h5 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4e7154;
}

.container1 h5 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4e7154;
} 

.options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.radio-button {
    display: none; /* Hide the radio buttons */
}

.rectangle-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 200px;
    background-color: #e0e0e0; /* Initial grey color */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.rectangle-parent h1 {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
        }

        .rectangle-parent h6 {
            margin: 5px 0 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.4;
        }


.rectangle-parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 200px;
    background-color: #e0e0e0; /* Initial grey color */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.radio-button:checked + .rectangle-parent,
.radio-button:checked + .rectangle-parent2 {
    background-color: #34965e; /* Green color when selected */
    color: white; /* White text when selected */
}

/* submit button */
.recommend-button {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #34965e; /* Green button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.recommend-button:hover {
    background-color: #2b7a4d; /* Darker green on hover */
}
