@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* root */
:root {
  /* Color */
  --primary: #2e8a57;
  --primary-dark: #1a613a;
  --primary-light: #48b378;
  --primary-100: #d0ffe5;
  --primary-50: #f3fff8;
  --secondary: #b07d50;
  --secondary-dark: #93653d;
  --secondary-light: #cd9665;
  --secondary-400: #eab07c;
  --secondary-300: #ffc490;
  --secondary-200: #ffe7d2;
  --secondary-100: #ffe7d2;
  --secondary-50: #fff9f4;
  --neutral-700: #1f1f1f;
  --neutral-500: #8e8e8e;
  --neutral-400: #cacaca;
  --neutral-300: #e1e1e1;
  --neutral-200: #eeeeee;
  --neutral-100: #f5f5f5;
  --white: #fafafa;
  --text-colour: #4b4b4b;
  --danger: #f64c4c;
  --danger-dark: #ec2d30;
  --danger-light: #eb6f70;
  --warning: #ffad0d;
  --warning-dark: #fe9b0e;
  --warning-light: #ffc62b;
  --success: #47b881;
  --success-dark: #0c9d61;
  --success-light: #6bc497;
  --info: #3b82f6;
  --info-dark: #3a70e2;
  --info-light: #4ba1ff;

  /* Font-Family */
  --font-family: "open sans";
}

/* Font */
.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-48 {
  font-size: 48px !important;
}

.bold {
  font-weight: 700 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.regular {
  font-weight: 400 !important;
}

.heading {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
  color: var(--primary-100);
}

.sub-heading {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.mt-64 {
  margin-top: 64px;
}

/* Color*/

.primary-color {
  color: var(--primary) !important;
}

.secondary-color {
  color: var(--secondary) !important;
}

.secondary-dark {
  color: var(--secondary-dark) !important;
}

.text-color {
  color: var(--text-colour) !important;
}

.neutral-500-color {
  color: var(--neutral-500) !important;
}

.white-color {
  color: var(--white) !important;
}

.neutral-400-bg {
  background-color: var(--neutral-400) !important;
}

.white-bg {
  background-color: var(--white) !important;
}

.off-white-bg {
  background-color: var(--secondary-50) !important;
}

.neutral-100-bg {
  background-color: var(--neutral-100) !important;
}

.neutral-700-bg {
  background-color: var(--neutral-700) !important;
}

.primary-bg {
  background-color: var(--primary) !important;
}

.danger-bg {
  background-color: var(--danger) !important;
}

.danger-color {
  color: var(--danger) !important;
}

.success-color {
  color: var(--success) !important;
}

/* Image Background*/
.coffee-bg {
  background-image: url(../images/Bg-object.png), url(../images/Bg-object.png);
  background-position: right -1% bottom -2%, left -1% top -3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 116px;
}

.coffee-bg-brown {
  background-image: url(../images/Bg-object-brown.png),
    url(../images/Bg-object-brown.png);
  background-position: right -1% bottom -2%, left -1% top -3%;
  background-repeat: no-repeat, no-repeat;
  background-size: 116px;
}

/* Margin */
.p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Shadows */
.ele-1 {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04),
    0px 1px 1px 0px rgba(0, 0, 0, 0.02);
}

.ele-2 {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08),
    0px 1px 4px 0px rgba(0, 0, 0, 0.04);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Width */

.w-90 {
  width: 90% !important;
}

.w-15 {
  width: 15% !important;
}

.mt-64 {
  margin-top: 64px;
}

.no-line tr td:nth-child(3),
.no-line tr th:nth-child(3) {
  background-color: rgba(255, 231, 210, 0.5) !important;
}

.no-line tr th {
  padding: 2rem 1rem !important;
}

table {
  height: fit-content;
}

.no-line tr td,
table tr td {
  padding: 1rem 1rem !important;
  vertical-align: middle !important;
  text-align: center;
  font-weight: 600 !important;
  color: var(--text-colour) !important;
}

.msp-table .accordion-button:not(.collapsed) {
  color: none !important;
  background-color: none !important;
  box-shadow: none !important;
}

.msp-table .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}

.msp-table .accordion-button {
  background-color: transparent !important;
}

.msp-table {
  padding: 15px 0 !important;
}

.no-line tr td:nth-child(1),
.no-line tr th:nth-child(1) {
  width: 30% !important;
  text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Button */

.primary-btn,
.primary-btn:hover,
.secondary-btn,
.secondary-btn:hover {
  padding: 7px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border: 0 !important;
  color: var(--white) !important;
  transition: 0.3s;
  width: fit-content;
  border-radius: 5px;
}

.primary-btn {
  background-color: var(--primary);
}

.primary-btn:hover {
  background-color: var(--primary-light) !important;
}

.secondary-btn {
  background-color: var(--secondary);
}

.secondary-btn:hover {
  background-color: var(--secondary-light) !important;
}

.primary-ghost-btn,
.primary-ghost-btn:hover,
.secondary-ghost-btn,
.secondary-ghost-btn:hover {
  background-color: var(--white) !important;
  padding: 7px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: 0.3s;
  border-radius: 5px;
  width: fit-content;
  gap: 10px;
}

.primary-ghost-btn {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.primary-ghost-btn:hover {
  border: 1px solid var(--primary-light) !important;
  color: var(--primary-light) !important;
}

.secondary-ghost-btn {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding: 7px 48px;
}

.secondary-ghost-btn:hover {
  border: 1px solid var(--secondary-light) !important;
  color: var(--secondary-light) !important;
  padding: 7px 48px;
}

.link-btn {
  float: right;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  padding: 7px 7px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: fit-content;
}

.link-btn:hover {
  color: var(--primary-100);
}

.link-btn p:hover {
  text-decoration: underline !important;
}

.searchbox,
.search {
  background-color: transparent !important;
  border: none !important;
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.searchbox::placeholder {
  color: var(--secondary);
  font-size: 14px;
  margin: 0 !important;
}

.searchbox:hover::placeholder {
  color: var(--secondary-light);
}

.searchbox:focus-visible {
  outline: none;
}

.search {
  border-bottom: 1px solid var(--secondary) !important;
}

.icon-btn {
  color: var(--primary) !important;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-50);
}

.steps-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--neutral-50);
  border: 2px solid var(--neutral-500);
  color: var(--neutral-500);
  cursor: default;
}

.steps-container div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0 !important;
  opacity: 0;
}

input[type="radio"]:checked + label > .fa-circle:before {
  content: "\f192";
  color: var(--primary);
}

input[type="radio"] + label > .fa-circle:before {
  content: "\f111";
}

.radio-container,
.radio-container-active {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  width: -webkit-fill-available;
}

.radio-container {
  border: 1px solid var(--neutral-500);
  color: var(--text-colour);
}

.radio-container:hover,
.radio-container-active {
  border: 1px solid var(--primary-light);
  color: var(--primary);
}

.radio-container i,
.radio-container-active i {
  color: var(--text-color);
  margin-right: 15px;
}

.visited .steps-btn {
  background-color: var(--primary-50) !important;
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
  cursor: pointer !important;
}

#shipping-section,
#payment-section {
  display: none;
}

.visited p {
  color: var(--primary) !important;
}

.visited .steps-btn:hover {
  background-color: var(--primary-50);
  border: 2px solid var(--primary-light);
  color: var(--primary-light) !important;
}

.steps-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.steps-container span {
  height: 0;
  border: 1px dashed var(--neutral-500);
}

.visited span {
  border: 1px dashed var(--primary);
}

#quantity {
  border: none !important;
  color: var(--primary) !important;
  text-align: center;
  font-weight: 700;
}

.search:hover {
  border-bottom: 1px solid var(--secondary-light) !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/regular/times.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
  cursor: pointer;
  color: var(--secondary);
}

.textbox {
  background-color: transparent !important;
  border: none !important;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid var(--white) !important;
}

.textbox:hover {
  border-bottom: 1px solid var(--neutral-300) !important;
}

.textbox::placeholder {
  color: var(--white);
  font-size: 14px;
  margin: 0 !important;
}

.textbox:hover::placeholder {
  color: var(--neutral-300);
}

.textbox:focus-visible {
  outline: none;
}

.form-check-input,
.form-check-input:focus {
  border-color: var(--neutral-500) !important;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary-dark) !important;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-check-input:hover {
  background-color: var(--primary-50);
  border-color: var(--primary-dark) !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.disc-list {
  list-style-type: disc;
  margin-left: 1rem;
}

.main-logo {
  display: flex;
  padding: 15px;
  margin-top: 0;
  background-color: var(--white);
  border-radius: 0 0 100px 100px;
  z-index: 10;
}

.navbar-toggler {
  border: none !important;
  color: var(--primary) !important;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.offcanvas.offcanvas-end {
  width: 50% !important;
}

.offcanvas {
  transition: transform 0.2s ease-in-out !important;
  background-color: var(--white) !important;
  border: none !important;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nft-navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.nft-navbar .nav-link {
  position: relative;
  color: var(--text-colour);
  padding: 8px 16px;
  font-weight: 400;
  font-size: 14px;
}

.nft-navbar .nav-link:hover {
  color: var(--primary) !important;
  transition: 0.3s;
}

.nft-navbar .nav-link.active {
  font-weight: 700;
  color: var(--primary);
}

.nft-navbar .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: var(--primary);
}

.nft-navbar .nav-link:focus-visible {
  outline: none !important;
}

.top-title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  margin-bottom: 20px;
}

.top-title :nth-child(1) {
  font-size: 20px;
}

.top-title:nth-child(2) {
  font-size: 14px;
}

.cover-title-1,
.cover-title-2,
.cover-title-3 {
  font-weight: 600 !important;
}

.cover-title-1 {
  color: var(--primary);
  font-size: 56px;
  height: auto;
}

.cover-title-2 {
  color: var(--secondary);
  font-size: 113px;
  height: 129px;
  text-transform: uppercase;
}

.cover-title-3 {
  color: var(--text-colour);
  font-size: 16px;
}

.carousel-item {
  transition: 1s ease-out !important;
}

.main-cover-container {
  margin-top: 64px;
  padding-bottom: 50px;
}

.cover-container {
  margin-top: 64px;
  padding-bottom: 50px;
  height: 450px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-title {
  font-weight: 700;
  font-size: 24px;
}

.summary-container {
  background-color: var(--neutral-100);
  width: 25%;
  padding: 2rem;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

/* Footer */

.nft-footer {
  background-color: var(--neutral-700);
}

.footer-heading,
.footer-link {
  font-size: 14px;
  color: var(--white);
}

.footer-heading {
  font-weight: 700;
}

.footer-link {
  font-weight: 400;
}

.footer-link:hover {
  color: var(--neutral-400) !important;
}

.copyright-section {
  background-color: var(--neutral-700);
}

.copyright-section .container {
  border-top: 1px solid var(--neutral-500);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-logo {
  width: 60%;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  margin: 0 !important;
  color: var(--text-colour);
}

.product-description {
  font-weight: 400;
  font-size: 16px;
  margin: 0 !important;
  color: var(--text-colour);
}

.size {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.size:hover {
  border: 1px solid var(--text-colour) !important;
}

.selected {
  border: 1px solid var(--text-colour) !important;
}

.dot {
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--neutral-100);
}

.selected span {
  background-color: var(--neutral-500);
}

.selected p {
  color: var(--white) !important;
}

.product-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.product-item .hidden {
  z-index: 2;
}

figure.zoom {
  background-position: 50% 50%;
  position: relative;
  height: 600px;
  overflow: hidden;
  cursor: zoom-in;
}
figure.zoom img:hover {
  opacity: 0;
}
figure.zoom img {
  transition: opacity 0.5s;
  display: block;
  width: 100%;
}

.nft-footer .accordion-button:not(.collapsed) {
  color: var(--white) !important;
}

.mobile-footer {
  display: none !important;
}

.accordion-body {
  background-color: none !important;
}

.subscribe-section .container .row .col-md-9 div {
  width: auto !important;
}

.subscribe-section .container .row .col-md-9 {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

@media only screen and (max-width: 540px) {
  .accordion-body {
    background-color: var(--text-colour) !important;
    padding: 1rem;
  }

  .container .top-title :nth-child(1) {
    font-size: 16px;
  }

  .container .top-title :nth-child(2) {
    font-size: 12px;
  }

  .carousel .container,
  .cover-container .row {
    flex-direction: column-reverse;
  }

  .cover-container .row div {
    justify-content: center;
    align-items: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 15% !important;
  }

  .carousel .container .d-flex {
    align-items: center;
  }

  .primary-btn,
  .primary-btn:hover,
  .secondary-btn,
  .secondary-btn:hover {
    font-size: 14px !important;
  }
  .primary-ghost-btn,
  .primary-ghost-btn:hover,
  .secondary-ghost-btn,
  .secondary-ghost-btn:hover {
    font-size: 14px !important;
  }

  .section-heading {
    align-items: center !important;
    flex-direction: column;
  }

  .section-heading div {
    align-items: center !important;
  }

  .link-btn {
    font-size: 14px;
    align-items: baseline;
  }

  .sub-heading {
    font-size: 18px;
    text-align: center;
  }

  .footer-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-heading i {
    visibility: inherit;
  }

  .footer-list {
    flex-direction: column;
    gap: 2rem !important;
  }

  .footer-heading::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
  }

  .nft-footer .accordion-button:not(.collapsed)::after {
    transform: rotate(3.142rad);
  }

  .mobile-footer {
    display: flex !important;
  }

  .desktop-footer {
    display: none !important;
  }

  .copyright-section .container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .offcanvas.offcanvas-end {
    width: 85% !important;
  }

  .cover-container {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .carousel-item img {
    width: 80% !important;
    margin: auto;
  }

  .d-none {
    display: block !important;
  }

  .navbar .nav,
  .navbar .container .button-section {
    display: none !important;
  }

  .nft-navbar {
    justify-content: end !important;
  }

  .side-nav li {
    display: block !important;
  }

  .nft-navbar .nav-link {
    padding: 8px 0px;
  }
  .nft-navbar .nav-link.active::after {
    left: 0;
    transform: translateX(0);
    position: static;
    display: block;
    margin-top: 2%;
  }

  table tr td:nth-child(1),
  table tr th:nth-child(1) {
    width: auto !important;
  }

  figure.zoom {
    height: auto !important;
  }

  .detail-body {
    gap: 2rem;
    margin-top: 2rem;
  }

  .cover-title-1,
  .cover-title-2,
  .cover-title-3 {
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .col-12 {
    width: auto;
  }

  .footer-list {
    width: 100% !important;
  }
}

@media only screen and (width: 768px) {
  .product-item a .fa-shopping-cart {
    display: none;
  }

  .col-md-3 {
    width: 30%;
  }

  .subscribe-section .container .row .col-md-3 {
    width: 25% !important;
  }

  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 1);
    padding-left: calc(var(--bs-gutter-x) * 1);
  }

  .col-md-7 {
    width: 58.33333333% !important;
  }
}

@media only screen and (max-width: 540px), only screen and (max-width: 1200px) {
  .nft-footer .row {
    justify-content: center;
    gap: 2rem;
  }

  .cover-title-1 {
    font-size: 28px;
  }

  .cover-title-2 {
    font-size: 56px;
    height: auto;
  }

  .carousel .container .col-md-7 {
    width: 70%;
  }

  .cover-title-3 {
    font-size: 14px;
  }

  .main-logo {
    justify-content: center;
    padding: 0;
    margin-top: auto;
    background-color: none;
    border-radius: none;
    box-shadow: none !important;
    transform: translateX(0) !important;
    left: 0 !important;
    top: auto !important;
  }

  .main-logo img {
    max-width: 50% !important;
  }

  .coffee-bg {
    background-position: right -3% bottom -1%, left -2% top -2%;
    background-size: 90px !important;
  }

  .main-cover-container {
    margin-top: 50px;
  }

  .join-us {
    text-align: center;
  }

  .join-us .container .row div {
    align-items: center;
  }

  .our-team .container p,
  .happy-clients .container p {
    text-align: center;
    width: auto !important;
  }

  .owl-clients div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cart-container {
    flex-direction: column;
  }

  .cart-container table {
    width: 100% !important;
  }

  .summary-container {
    width: fit-content !important;
  }
}
