{% extends 'components/base.html' %}
{% load static %}
{% block title %}
    <title>E-commerce - ProductPage</title>
{% endblock%} {% block main_content %}

    <!-- card start -->
    <div>
        <div class="ad_banner">
            <img
                    src="{% static 'images/ad banner.png' %}"
                    class="w-100 h-auto"
                    alt=""
            />
        </div>
        <div class="d-flex flex-column">
            <div
                    class="col-md-12 d-flex justify-content-end search-container container mt-5"
            >
                <form class="d-flex gap-2 search col-md-3 p-1">
                    <label><i class="far fa-search f-16"></i> </label>
                    <input
                            class="w-100 searchbox"
                            type="search"
                            placeholder="Search products"
                    />
                </form>
            </div>

            <!-- All Products Section -->
            <div class="col-md-12">
                <div class="filters-content container p-50">
                    <div class="col-md-12">
                        <div
                                class="section-heading d-flex justify-content-between align-items-end mb-4"
                        >
                            <p class="f-24 bold text-color m-0">All Products</p>
                            <a href="{% url 'view_products' %}" class="link-btn text-color"
                            ><p class="m-0">view More</p>
                                <i class="fa fa-angle-right fa-2"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row grid">
                        {% for product in products %}
                            <div class="col-md-3">
                                <div class="product-item ele-1">
                                    <a
                                            href="{% url 'product_detail' product.id %}"
                                            class="product-link"
                                    ></a>
                                    <img
                                            class="ele-1 position-absolute start-50 translate-middle-x"
                                            src="{{MEDIA_URL }}{{ product.display_image.image }}"
                                            alt="{{ product.name }}"
                                    />
                                    <a
            href="{% url 'add_to_cart' product.pk %}"
            class="hidden primary-ghost-btn gap-2 f-14 w-100" id="prod-btn"
            ><span data-bs-toggle="modal"
            data-bs-target="#addedToCart">Add To Cart
            <i class="far f-16 fa-shopping-cart"></i></span>
          </a>                   <div class="product-info">
                                        <div class="d-flex flex-column gap-1">
                                            <p class="product-name mb-0">{{ product.name }}</p>
                                            <p class="product-discription mb-0">
                                                {{ product.description }}
                                            </p>
                                        </div>
                                        <div class="d-flex flex-column gap-1">
                                            {% if product.discounted_price %}
                                                <p class="mb-0">
                                                    <s>$ {{ product.price }}</s>
                                                </p>
                                            {% endif %}
                                            <p class="product-price mb-0" id="price">
                                                $ {{ product.product_price }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {#    by categores#}
            {% for category in category_products %}
                <div class="col-md-12 neutral-100-bg">
                    <div class="filters-content container p-50">
                        <div class="col-md-12">
                            <div
                                    class="section-heading d-flex justify-content-between align-items-end mb-4"
                            >
                                <p class="f-24 bold text-color m-0">{{ category.name }}</p>
                                <a href="{% url 'view_products'%}" class="link-btn text-color"
                                ><p class="m-0">view More</p>
                                    <i class="fa fa-angle-right fa-2"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row grid">
                            {% for product in category.products%}
                                <div class="col-md-3">
        <div class="product-item ele-1">
          <a
            href="{% url 'product_detail' product.id %}"
            class="product-link"
          ></a>
          <img
            class="ele-1 position-absolute start-50 translate-middle-x"
            src="{{MEDIA_URL }}{{ product.display_image.image }}"
            alt="{{ product.name }}"
          />
          
          <a
            href="{% url 'add_to_cart' product.pk %}"
            class="hidden primary-ghost-btn gap-2 f-14 w-100" id="prod-btn"
            ><span data-bs-toggle="modal"
            data-bs-target="#addedToCart">Add To Cart
            <i class="far f-16 fa-shopping-cart"></i></span>
          </a>
          <div class="product-info">
            <div class="d-flex flex-column gap-1">
              <p class="product-name mb-0">{{ product.name }}</p>
              <p class="product-discription mb-0">{{ product.description }}</p>
            </div>
            <div class="d-flex flex-column gap-1">
              {% if product.discounted_price %}
              <p class="mb-0">
                <s>$ {{ product.price }}</s>
              </p>
              {% endif %}
              <p class="product-price mb-0" id="price">$ {{ product.product_price }}</p>
            </div>
          </div>
        </div>
      </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- card end -->

{% endblock %}
