{% extends 'components/payment_base.html' %}
{% load static %}
{% block title %}
    <title>E-commerce - ProductPage</title>
{% endblock%}
{% block main_content %}
    {% load crispy_forms_tags %}

    <!-- card start -->
    <div class="container p-50 payment-container">
        <div class="row d-flex gap-4 flex-column mb-3">
            <h1 class="f-24 bold text-color">CaffeineHead</h1>
            <div class="steps-container">
                <div id="cart-tab" class="d-flex flex-row gap-4 col-md-3 visited">
                    <div>
                        <a href="{% url 'cart' %}" class="steps-btn">
                            <i class="far fa-shopping-cart fa-2"></i>
                        </a>
                        <p class="f-12 text-color">Cart</p>
                    </div>
                    <span class="w-100"></span>
                </div>

                <div id="detail-tab" class="d-flex flex-row gap-4 col-md-3 visited">
                    <div onclick="detailView()">
                        <p href="" class="steps-btn m-0">
                            <i class="far fa-user fa-2"></i>
                        </p>
                        <p class="f-12 text-color">Details</p>
                    </div>
                    <span class="w-100"></span>
                </div>

                <div id="shipping-tab" class="d-flex flex-row gap-4 col-md-3">
                    <div>
                        <p href="" class="steps-btn m-0">
                            <i class="far fa-truck fa-2"></i>
                        </p>
                        <p class="f-12 text-color">Shipping</p>
                    </div>
                    <span class="w-100"></span>
                </div>
                <div id="payment-tab" class="">
                    <p href="" class="steps-btn m-0">
                        <i class="far fa-credit-card fa-2"></i>
                    </p>
                    <p class="f-12 text-color">Payment</p>
                </div>
            </div>
        </div>
        <section class="row justify-content-between">
            <detail id="detail-section" class="p-5 col-md-6 payment-section">
                <form method="POST" class="payment-form w-100">
                    {% csrf_token %}
                    <div class="col-sm-10 col-md-12 w-100">
                        <p class="f-18 bold text-color">Contact</p>
                        {% if shipping_address %}
                            <input
                                    type="email"
                                    class="text-box form-control w-100"
                                    id="shippingEmail"
                                    placeholder="Email"
                                    name="email"
                                    value="{{ shipping_address.email }}"
                                    required
                            />
                        {% else %}
                            <input
                                    type="email"
                                    class="text-box form-control w-100"
                                    id="shippingEmail"
                                    placeholder="Email"
                                    name="email"
                                    value="{{ user.email }}"
                                    required
                            />
                        {% endif %}
                    </div>
                    <div class="col-sm-10 col-md-12 w-100">
                        <p class="f-18 bold text-color">Delivery Method</p>

                        <div class="d-flex gap-2 flex-wrap">
                            <div class="radio-container">
                                <input
                                        class="form-check-input"
                                        type="radio"
                                        name="flexRadioDefault"
                                        id="shipRadio"
                                        checked
                                />
                                <label class="form-check-label" for="shipRadio">
                                    <i class="far fa-circle"></i><i class="far fa-truck"></i>Ship
                                </label>
                            </div>
                            {#                            <div class="radio-container" id="radio-btn">#}
                            {#                                <input#}
                            {#                                        class="form-check-input"#}
                            {#                                        type="radio"#}
                            {#                                        name="flexRadioDefault"#}
                            {#                                        id="pickUpRadio"#}
                            {#                                />#}
                            {#                                <label class="form-check-label" for="pickUpRadio">#}
                            {#                                    <i class="far fa-circle"></i><i class="far fa-store"></i>Pick Up#}
                            {#                                </label>#}
                            {#                            </div>#}
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 w-100">
                        <p class="f-18 bold text-color">Shipping Address</p>
                        <div class="d-flex flex-column gap-4">
                            {% if shipping_address %}
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingFullName"
                                        placeholder="Enter Fullname"
                                        name="fullName"
                                        value="{{ shipping_address.fullname }}"
                                        required
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingPhoneNumber"
                                        placeholder="Enter Phone Number"
                                        value="{{ shipping_address.phone_number }}"
                                        name="phoneNumber"
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingCompany"
                                        value="{{ shipping_address.company }}"

                                        placeholder="Company (optional)"
                                        name="company"
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingAddressLine1"
                                        value="{{ shipping_address.address_line_1 }}"

                                        placeholder="Address Line 1"
                                        name="addressLine1"
                                        required
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingAddressLine2"
                                        value="{{ shipping_address.address_line_2 }}"

                                        placeholder="Address Line 2 (optional)"
                                        name="apartment"
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingCountry"
                                        placeholder="Country"
                                        value="{{ shipping_address.country }}"
                                        name="country"
                                        required
                                />
                                <div class="d-flex justify-content-between gap-3">
                                    <input
                                            type="text"
                                            class="text-box form-control w-100"
                                            id="shippingCity"
                                            placeholder="City"
                                            value="{{ shipping_address.city }}"
                                            name="city"
                                            required
                                    />
                                    <input
                                            type="text"
                                            class="text-box form-control w-100"
                                            id="shippingState"
                                            value="{{ shipping_address.state }}"
                                            placeholder="State / Territory"
                                            name="state"
                                            required
                                    />
                                    <input
                                            type="number"
                                            class="text-box form-control w-100"
                                            id="shippingZipcode"
                                            placeholder="Zipcode"
                                            value="{{ shipping_address.zipcode }}"
                                            name="zipcode"
                                            required
                                    />
                                </div>

                            {% else %}
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingFullName"
                                        placeholder="Enter Fullname"
                                        name="fullName"
                                        value="{{ user.full_name }}"
                                        required
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingPhoneNumber"
                                        placeholder="Enter Phone Number"
                                        name="phoneNumber"
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingCompany"
                                        placeholder="Company (optional)"
                                        name="company"
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingAddressLine1"
                                        placeholder="Address Line 1"
                                        name="addressLine1"
                                        required
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingAddressLine2"
                                        placeholder="Address Line 2 (optional)"
                                        name="apartment"
                                />
                                <input
                                        type="text"
                                        class="text-box form-control w-100"
                                        id="shippingCountry"
                                        placeholder="Country"
                                        name="country"
                                        required
                                />
                                <div class="d-flex justify-content-between gap-3">
                                    <input
                                            type="text"
                                            class="text-box form-control w-100"
                                            id="shippingCity"
                                            placeholder="City"
                                            name="city"
                                            required
                                    />
                                    <input
                                            type="text"
                                            class="text-box form-control w-100"
                                            id="shippingState"
                                            placeholder="State / Territory"
                                            name="state"
                                            required
                                    />
                                    <input
                                            type="number"
                                            class="text-box form-control w-100"
                                            id="shippingZipcode"
                                            placeholder="Zipcode"
                                            name="zipcode"
                                            required
                                    />
                                </div>

                            {% endif %}


                            <div class="d-flex justify-content-between btn-container">
                                <a href="{% url 'cart' %}" class="link-btn neutral-500-color"
                                ><i class="fa fa-angle-left fa-2"></i>
                                    <p class="m-0">Return To Cart</p>
                                </a>
                                <a class="primary-btn" onclick="shippingView()"
                                >Continue To Shipping</a
                                >
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column gap-2 policy-section">
                        <hr class="m-1" />
                        <ul class="list-unstyled d-flex">
                            <li class="nav-item mb-2">
                                <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                                        class="p-0 footer-link text-color"
                                >Privacy Policy
                                </a>
                            </li>
                            <span class="px-3 footer-link text-color"> | </span>
                            <li class="nav-item mb-2">
                                <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                                        class="p-0 footer-link text-color"
                                >Terms &amp; Conditions</a
                                >
                            </li>
                        </ul>
                    </div>
                    {% if login_form.non_field_errors %}
                        <div style="color: var(--danger)">
                            <p>{{ login_form.non_field_errors }}</p>
                        </div>
                    {% endif %}
                </form>
            </detail>

            <shipping id="shipping-section" class="p-5 col-md-6 payment-section">
                <form method="POST" class="payment-form w-100">
                    {% csrf_token %}
                    <div class="p-3 border rounded f-14 text-color">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="text-start neutral-500-color p-1">Contact</td>
                                <td class="text-start p-1" id="confirmShippingEmail"></td>
                                <td onclick="shippingView()" class="text-start p-1">
                                    <p class="m-0 link-btn f-14 text-color">
                                        <i class="far fa-edit d-flex align-items-center"></i>Change
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start neutral-500-color p-1">Ship To</td>
                                <td class="text-start p-1" id="confirmShippingAddress"></td>
                                <td onclick="shippingView()" class="text-start p-1">
                                    <p class="m-0 link-btn f-14 text-color">
                                        <i class="far fa-edit d-flex align-items-center"></i>Change
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    {#                    <div class="col-sm-10 col-md-12 w-100">#}
                    {#                        <p class="f-18 bold text-color">Shipping Method</p>#}
                    {##}
                    {#                        <div class="d-flex gap-2 flex-wrap">#}
                    {#                            <div class="radio-container">#}
                    {#                                <input#}
                    {#                                        class="form-check-input"#}
                    {#                                        type="radio"#}
                    {#                                        name="flexRadioDefault"#}
                    {#                                        id="standardShipRadio"#}
                    {#                                        checked#}
                    {#                                />#}
                    {#                                <label#}
                    {#                                        class="w-100 form-check-label d-flex justify-content-between"#}
                    {#                                        for="standardShipRadio"#}
                    {#                                >#}
                    {#                                    <i class="far fa-circle pt-1"></i>#}
                    {#                                    <p#}
                    {#                                            class="flex-grow-1 f-14 m-0 text-color d-flex gap-2 flex-column"#}
                    {#                                    >#}
                    {#                  <span>Standard</span#}
                    {#                  ><span class="neutral-500-color">2 to 8 business days</span>#}
                    {#                                    </p>#}
                    {#                                    <p class="m-0 f-14 bold text-color">Free</p>#}
                    {#                                </label>#}
                    {#                            </div>#}
                    {#                            <div class="radio-container" id="radio-btn">#}
                    {#                                <input#}
                    {#                                        class="form-check-input"#}
                    {#                                        type="radio"#}
                    {#                                        name="flexRadioDefault"#}
                    {#                                        id="expressShipRadio"#}
                    {#                                />#}
                    {#                                <label#}
                    {#                                        class="w-100 form-check-label d-flex justify-content-between"#}
                    {#                                        for="expressShipRadio"#}
                    {#                                >#}
                    {#                                    <i class="far fa-circle pt-1"></i>#}
                    {#                                    <p#}
                    {#                                            class="flex-grow-1 f-14 m-0 text-color d-flex gap-2 flex-column"#}
                    {#                                    >#}
                    {#                  <span>Express</span#}
                    {#                  ><span class="neutral-500-color">2 to 8 business days</span>#}
                    {#                                    </p>#}
                    {#                                    <p class="m-0 f-14 bold text-color">$12.00</p>#}
                    {#                                </label>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="d-flex justify-content-between btn-container">
                        <a href="#" class="link-btn neutral-500-color"
                        ><i class="fa fa-angle-left fa-2"></i>
                            <p class="m-0">Return To Cart</p>
                        </a>
                        <a class="primary-btn" onclick="paymentView()">Continue To Payment</a>
                    </div>
                    <div class="d-flex flex-column gap-2 policy-section">
                        <hr class="m-1" />
                        <ul class="list-unstyled d-flex">
                            <li class="nav-item mb-2">
                                <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                                        class="p-0 footer-link text-color"
                                >Privacy Policy
                                </a>
                            </li>
                            <span class="px-3 footer-link text-color"> | </span>
                            <li class="nav-item mb-2">
                                <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                                        class="p-0 footer-link text-color"
                                >Terms &amp; Conditions</a
                                >
                            </li>
                        </ul>
                    </div>
                    {% if login_form.non_field_errors %}
                        <div style="color: var(--danger)">
                            <p>{{ login_form.non_field_errors }}</p>
                        </div>
                    {% endif %}
                </form>
            </shipping>

            <payment id="payment-section" class="p-5 col-md-6 payment-section">
                <div class="payment-form w-100">
                    {% csrf_token %}
                    <div
                            class="d-flex flex-column p-3 border gap-2 rounded f-14 text-color"
                    >
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="text-start neutral-500-color p-1">Contact</td>
                                <td class="text-start p-1" id="confirmShippingEmailView"></td>
                                <td onclick="shippingView()" class="text-start p-1">
                                    <p class="m-0 link-btn f-14 text-color">
                                        <i class="far fa-edit d-flex align-items-center"></i>Change
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start neutral-500-color p-1">Ship To</td>
                                <td class="text-start p-1" id="confirmShippingAddressView"></td>
                                <td onclick="shippingView()" class="text-start p-1">
                                    <p class="m-0 link-btn f-14 text-color">
                                        <i class="far fa-edit d-flex align-items-center"></i>Change
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-sm-10 col-md-12 w-100">
                        <p class="f-18 bold text-color">Payment</p>
                        <p class="f-14 neutral-500-color">
                            All transactions are secure and encrypted
                        </p>

                        <div class="paypal-img d-flex gap-2 flex-wrap">
                            <hr class="w-100">
                            {{paypal.render}}
                            <hr class="w-100">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between btn-container">
                        <a href="{% url 'cart' %}" class="link-btn neutral-500-color"
                        ><i class="fa fa-angle-left fa-2"></i>
                            <p class="m-0">Return To Cart</p>
                        </a>

                        {#                        <a class="primary-btn" href="{% url 'order_complete' %}">Continue</a>#}
                    </div>
                    <div class="d-flex flex-column gap-2 policy-section">
                        <hr class="m-1" />
                        <ul class="list-unstyled d-flex">
                            <li class="nav-item mb-2">
                                <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                                        class="p-0 footer-link text-color"
                                >Privacy Policy
                                </a>
                            </li>
                            <span class="px-3 footer-link text-color"> | </span>
                            <li class="nav-item mb-2">
                                <a
                                        href="https://docs.google.com/forms/d/e/1FAIpQLSfK7gJZ6VvvpIV50kCpVdw6Tlp-DlppeRwtfN4mpnN2qOTlTA/viewform"
                                        class="p-0 footer-link text-color"
                                >Terms &amp; Conditions</a
                                >
                            </li>
                        </ul>
                    </div>
                    {% if login_form.non_field_errors %}
                        <div style="color: var(--danger)">
                            <p>{{ login_form.non_field_errors }}</p>
                        </div>
                    {% endif %}
                    </div>
            </payment>

            <div class="p-5 border-start col-md-6 payment-summary">
                <div class="col">
                    <div class="row gap-4">
                        <table class="table-borderless mt-4 table">
                            <tbody>
                            {% for order_item in order_items %}
                                <tr>
                                    <td>
                                        <div class="d-flex gap-3 align-items-center">
                                            <div
                                                    style="height: 70px;"
                                                    class="d-flex align-items-center position-relative"
                                            >
                                                <img
                                                        height="100%"
                                                        src="{{ MEDIA_URL }}{{order_item.product.display_image.image}}"
                                                        alt=""
                                                />
                                                <span
                                                        class="position-absolute top-0 start-100 neutral-700-bg border badge rounded-pill translate-middle footer-link opacity-50"
                                                >
                        <span class="f-12 white-color bold">
                          {{ order_item.quantity }}
                        </span>
                      </span>
                                            </div>

                                            <p class="f-16 m-0">{{ order_item.product.name }}</p>
                                        </div>
                                    </td>
                                    <td class="f-16 m-0">$ {{ order_item.amount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div id="discount-code">
                            <input
                                    type="email"
                                    class="text-box form-control w-100"
                                    id="discount-code"
                                    placeholder="Discount Code / Gift Card"
                                    name="discount"
                            />
                            <a class="secondary-btn w-auto">Apply</a>
                        </div>
                        <div>
                            <p class="f-14 text-color w-100 d-flex justify-content-between">
                                <span> Subtotal </span>
                                <span class="bold"> ${{ order.sub_total }} </span>
                            </p>

                            <p class="f-14 text-color w-100 d-flex justify-content-between">
                                <span> Shipping </span>
                                <span class="bold"> ${{ order.shipping_amount }} </span>
                            </p>

                            <p
                                    class="f-16 bold text-color w-100 d-flex justify-content-between"
                            >
                                <span> Total </span>
                                <span>
                <span class="f-12 regular text-uppercase">aud</span>
                ${{ order.total }}
              </span>
                            </p>

                            <p class="f-12 text-color d-flex justify-content-end">
                                *Including $ in taxes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                            

    </div>


    <script>
        const cart = document.getElementById("cart-tab");
        const detail = document.getElementById("detail-tab");
        const shipping = document.getElementById("shipping-tab");
        const payment = document.getElementById("payment-tab");

        const detailSec = document.getElementById("detail-section");
        const shippingSec = document.getElementById("shipping-section");
        const paymentSec = document.getElementById("payment-section");

        const radioBtn = document.getElementById("creditCardRadio");
        const cInfo = document.getElementById("credit-info");
        const dis = document.getElementById("discount-code");


        function detailView() {
            detail.classList.add("visited");
            shipping.classList.remove("visited");
            payment.classList.remove("visited");
            shippingSec.style.display = "none";
            detailSec.style.display = "flex";
            paymentSec.style.display = "none";
            dis.style.display = "flex";
        }

        function shippingView() {
            const formData = new FormData();
            formData.append('fullname', document.getElementById('shippingFullName').value);
            formData.append('email', document.getElementById('shippingEmail').value);
            formData.append('phone_number', document.getElementById('shippingPhoneNumber').value);
            formData.append('company', document.getElementById('shippingCompany').value);
            formData.append('address_line_1', document.getElementById('shippingAddressLine1').value);
            formData.append('address_line_2', document.getElementById('shippingAddressLine2').value);
            formData.append('country', document.getElementById('shippingCountry').value);
            formData.append('city', document.getElementById('shippingCity').value);
            formData.append('state', document.getElementById('shippingState').value);
            formData.append('zipcode', document.getElementById('shippingZipcode').value);

            const url = "{% url 'add_shipping_address' order.pk %}";

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // Assuming the response is JSON
                })
                .then(data => {
                    console.log(data)
                    shipping.classList.add("visited");
                    payment.classList.remove("visited");
                    shippingSec.style.display = "flex";
                    detailSec.style.display = "none";
                    paymentSec.style.display = "none";
                    dis.style.display = "flex";

                    document.getElementById("confirmShippingEmail").innerHTML = data.email;
                    document.getElementById("confirmShippingEmailView").innerHTML = data.email;
                    document.getElementById("confirmShippingAddress").innerHTML = `${data.address_line_1}, ${data.city}, ${data.state}, ${data.country} ${data.zipcode}`;
                    document.getElementById("confirmShippingAddressView").innerHTML = `${data.address_line_1}, ${data.city}, ${data.state}, ${data.country} ${data.zipcode}`;

                })
                .catch(error => {
                    // Handle errors
                    console.error('There was a problem with the fetch operation:', error);
                });

        }

        function paymentView() {
            shipping.classList.add("visited");
            payment.classList.add("visited");
            shippingSec.style.display = "none";
            detailSec.style.display = "none";
            paymentSec.style.display = "flex";
            dis.style.display = "none";
        }

        function activeRadio() {
            if (radioBtn.checked) {
                radioBtn.style.height = "8%";
                cInfo.classList.add("d-flex");
            } else {
                radioBtn.style.height = "100%";
                cInfo.classList.remove("d-flex");
                cInfo.style.display = "none";
            }
        }

        $(document).ready(function () {
            activeRadio();
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
