* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer h5,
.nav-link {
    color: #FFFFFF !important;
}

.nft-header {
    background-color: #008b53 !important;
    height: 100px;
}

.nft-footer {
    background-color: #008b53 !important;
}

.caff {
    position: relative;
}

.caff h1 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
}


.caff h1:after {
    background-color: #ebe9bb;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 3px;
    width: 156px;
    margin-top: 2px;
}

.nav-font {
    font-weight: bold;
}

.detail-img {
    height: 25vw;
    object-fit: contain;
}
@media (max-width: 992px) {
    .nft-header{
      height: 240px;
    }
    
}