{% extends 'layout.html' %} {% load static %} {% block title %}
<title>E-commerce - ProductPage</title>
{% endblock%} {% block main_content %}

<!-- card start -->
<div>
  <div class="ad_banner">
    <img
      src="{% static 'images/ad banner.png' %}"
      class="w-100 h-auto"
      alt=""
    />
  </div>
  <div class="d-flex flex-column">
    <div
      class="col-md-12 d-flex justify-content-end search-container container mt-5"
    >
      <form class="d-flex gap-2 search col-md-3 p-1">
        <label><i class="far fa-search f-16"></i> </label>
        <input
          class="w-100 searchbox"
          type="search"
          placeholder="Search products"
        />
      </form>
    </div>

    <!-- All Products Section -->
    <div class="col-md-12">
      <div class="filters-content container p-50">
        <div class="col-md-12">
          <div
            class="section-heading d-flex justify-content-between align-items-end mb-4"
          >
            <p class="f-24 bold text-color m-0">All Products</p>
            <a href="#" class="link-btn text-color"
              ><p class="m-0">view More</p>
              <i class="fa fa-angle-right fa-2"></i>
            </a>
          </div>
        </div>
        <div class="row grid">
          {% for product in product_list %}
          <div class="col-md-3">
            <div class="product-item ele-1">
              <img
                class="ele-1 position-absolute start-50 translate-middle-x"
                src="{{ MEDIA_URL }}{{ product.image }}"
                alt="{{ product.product_name }}"
              />
              <a
                href="{% url 'product-detail' product.id %}"
                class="hidden primary-ghost-btn f-14 w-100"
                >View Details
                <i class="fa fa-angle-right fa-2"></i>
              </a>
              <div class="product-info">
                <div class="d-flex flex-column gap-1">
                  <p class="product-name mb-0">{{ product.product_name }}</p>
                  <p class="product-discription mb-0">
                    {{ product.description }}
                  </p>
                </div>
                <div class="d-flex flex-column gap-1">
                  <p class="mb-0">
                    <s>$ {{ product.product_price }}</s>
                  </p>
                  <p class="product-price mb-0">
                    $ {{ product.product_price }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Featured Section-->
    <div class="col-md-12 neutral-100-bg">
      <div class="filters-content container p-50">
        <div class="col-md-12">
          <div
            class="section-heading d-flex justify-content-between align-items-end mb-4"
          >
            <p class="f-24 bold text-color m-0">Featured</p>
            <a href="#" class="link-btn text-color"
              ><p class="m-0">view More</p>
              <i class="fa fa-angle-right fa-2"></i>
            </a>
          </div>
        </div>
        <div class="row grid">
          {% for product in products%}
          <div class="col-md-3">
            <div class="product-item ele-1">
              <img
                class="ele-1 position-absolute start-50 translate-middle-x"
                src="{{ MEDIA_URL }}{{ product.image }}"
                alt="{{ product.product_name }}"
              />
              <a
                href="{% url 'product-detail' product.id %}"
                class="hidden primary-ghost-btn f-14 w-100"
                >View Details
                <i class="fa fa-angle-right fa-2"></i>
              </a>
              <div class="product-info">
                <div class="d-flex flex-column gap-1">
                  <p class="product-name mb-0">{{ product.product_name }}</p>
                  <p class="product-discription mb-0">
                    {{ product.description }}
                  </p>
                </div>
                <div class="d-flex flex-column gap-1">
                  <p class="mb-0">
                    <s>$ {{ product.product_price }}</s>
                  </p>
                  <p class="product-price mb-0">
                    $ {{ product.product_price }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Flash Deals Section -->
    <div class="col-md-12">
      <div class="filters-content container p-50">
        <div class="col-md-12">
          <div
            class="section-heading d-flex justify-content-between align-items-end mb-4"
          >
            <p class="f-24 bold text-color m-0">Flash Deals</p>
            <a href="#" class="link-btn text-color"
              ><p class="m-0">view More</p>
              <i class="fa fa-angle-right fa-2"></i>
            </a>
          </div>
        </div>
        <div class="row grid">
          {% for product in products %}
          <div class="col-md-3">
            <div class="product-item ele-1">
              <img
                class="ele-1 position-absolute start-50 translate-middle-x"
                src="/{{ product.image }}"
                alt="{{ product.product_name }}"
              />
              <a
                href="{% url 'product-detail' product.id %}"
                class="hidden primary-ghost-btn f-14 w-100"
                >View Details
                <i class="fa fa-angle-right fa-2"></i>
              </a>
              <div class="product-info">
                <div class="d-flex flex-column gap-1">
                  <p class="product-name mb-0">{{ product.product_name }}</p>
                  <p class="product-discription mb-0">
                    {{ product.description }}
                  </p>
                </div>
                <div class="d-flex flex-column gap-1">
                  <p class="mb-0">
                    <s>$ {{ product.product_price }}</s>
                  </p>
                  <p class="product-price mb-0">
                    $ {{ product.product_price }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Last Minute Section -->
    <div class="col-md-12 neutral-100-bg">
      <div class="filters-content container p-50">
        <div class="col-md-12">
          <div
            class="section-heading d-flex justify-content-between align-items-end mb-4"
          >
            <p class="f-24 bold text-color m-0">Last Minute</p>
            <a href="#" class="link-btn text-color"
              ><p class="m-0">view More</p>
              <i class="fa fa-angle-right fa-2"></i>
            </a>
          </div>
        </div>
        <div class="row grid">
          {% for product in products %}
          <div class="col-md-3">
            <div class="product-item ele-1">
              <img
                class="ele-1 position-absolute start-50 translate-middle-x"
                src="/{{ product.image }}"
                alt="{{ product.product_name }}"
              />
              <a
                href="{% url 'product-detail' product.id %}"
                class="hidden primary-ghost-btn f-14 w-100"
                >View Details
                <i class="fa fa-angle-right fa-2"></i>
              </a>
              <div class="product-info">
                <div class="d-flex flex-column gap-1">
                  <p class="product-name mb-0">{{ product.product_name }}</p>
                  <p class="product-discription mb-0">
                    {{ product.description }}
                  </p>
                </div>
                <div class="d-flex flex-column gap-1">
                  <p class="mb-0">
                    <s>$ {{ product.product_price }}</s>
                  </p>
                  <p class="product-price mb-0">
                    $ {{ product.product_price }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- card end -->

{% endblock %}
