<style>
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
</style>

{% extends 'layout.html' %} {% load static %} {% block title %}
<title>Caffeinehead - Services</title>
{% endblock%} {% block main_content %}

<!-- Main Cover Container -->
<div class="cover-container container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 d-flex flex-column gap-4">
      <p class="cover-title-1 m-0">Web and Mobile Application Development</p>
      <div class="cover-title-3">
        Web and mobile application development is the process of creating
        software applications specifically designed to operate on the internet
        (web applications) or mobile devices (mobile applications). These
        applications serve a wide range of purposes, from entertainment and
        communication to business productivity and e-commerce.
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        class="w-50"
        src="{% static 'images/Web and Mobile Application Development.png' %}"
        alt="..."
      />
    </div>
  </div>
</div>

<!-- Services Part Start -->

<div class="services-container">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr class="bold f-32 secondary-color align-top">
          <th>Plans & <br />Features</th>
          <th>
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="mb-0">Starter</p>
              <p class="regular text-color f-16 mb-0 text-center">
                Begin with our essential plans, packed with key tools for a
                strong start.
              </p>
            </div>
          </th>
          <th>
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="mb-0">Standard <span class="primary-color">*</span></p>
              <p class="regular text-color f-16 mb-0 text-center">
                Step up with our standard plans, providing enhanced features for
                your evolving needs.
              </p>
            </div>
          </th>
          <th>
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="mb-0">Premium</p>
              <p class="regular text-color f-16 mb-0 text-center">
                Upgrade to Premium for exclusive advanced features and a premium
                user experience.
              </p>
            </div>
          </th>
        </tr>
        <tr class="bold f-32 secondary-color align-top">
          <th class="p-0 pb-5"></th>
          <th class="p-0 pb-5">
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="f-24 mb-0 text-center">
                $500 <span class="f-14 regular text-color">/package</span>
              </p>
              <a href="" class="btn secondary-ghost-btn f-16">GET STARTED</a>
            </div>
          </th>
          <th class="p-0 pb-5">
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="f-24 mb-0 text-center">
                $2,000 <span class="f-14 regular text-color">/package</span>
              </p>
              <a href="" class="btn secondary-ghost-btn f-16">GET STARTED</a>
            </div>
          </th>
          <th class="p-0 pb-5">
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="f-24 mb-0 text-center">
                $5,000 <span class="f-14 regular text-color">/package</span>
              </p>
              <a href="" class="btn secondary-ghost-btn f-16">GET STARTED</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" class="f-16 secondary-color">
            Content Management System
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">
            Admin Side Management
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Number of Pages</td>
          <td>4-5</td>
          <td>8-10</td>
          <td>15+</td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Responsive Design</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Logo Design</td>
          <td>1 Draft</td>
          <td>2 Draft</td>
          <td>3 Draft</td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Contact Form</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Search Feature</td>
          <td></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">
            Testimonials and Reviews
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Photo Slider</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Payment Gateway</td>
          <td></td>
          <td></td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Buying Feature</td>
          <td></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Chat Integration</td>
          <td></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Hosting</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">SEO Semantic</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Social Media Links</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Product Upload</td>
          <td></td>
          <td></td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center w-100">
      <a href="/services" class="link-btn secondary-color">
        <i class="fa fa-angle-left fa-2"></i>
        <p class="m-0">back to services</p>
      </a>
    </div>
  </div>
</div>
<!-- Services Part end -->

<!-- Get Services -->
<div class="container p-50">
  <div
    class="col-md-12 d-flex justify-content-center align-items-center flex-column gap-3"
  >
    <p class="f-16 regular m-0 text-color text-center w-75">
      If you find yourself uncertain about your requirements, feel free to reach
      out to us for personalized guidance. We are here to assist you in
      navigating any confusion and providing tailored support based on your
      specific needs.
    </p>
    <a href="{% url 'contact' %}" class="btn primary-btn f-16">CONTACT US</a>
  </div>
</div>
{% endblock%}
