<style>
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
</style>

{% extends 'layout.html' %} {% load static %} {% block title %}
<title>Caffeinehead - Services</title>
{% endblock%} {% block main_content %}

<!-- Main Cover Container -->
<div class="cover-container container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 d-flex flex-column gap-4">
      <p class="cover-title-1 m-0">POS</p>
      <div class="cover-title-3">
        A Point of Sale (POS) system is a software and hardware combination used
        by businesses to facilitate the sale of products or services to
        customers at the physical location where the transaction occurs. POS
        systems are commonly employed in various industries, including retail,
        hospitality, restaurants, and service-based businesses.
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img class="w-50" src="{% static 'images/POS.png' %}" alt="..." />
    </div>
  </div>
</div>

<!-- Services Part Start -->
<div class="services-container">
  <div class="container">
    <div class="row pdf-carousel">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="6"
            aria-label="Slide 7"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="7"
            aria-label="Slide 8"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="8"
            aria-label="Slide 9"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="9"
            aria-label="Slide 10"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="10"
            aria-label="Slide 11"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="11"
            aria-label="Slide 12"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="12"
            aria-label="Slide 13"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="13"
            aria-label="Slide 14"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item h-100 active">
            <img
              src="{% static 'images/POS/1.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/2.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/3.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/4.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/5.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/6.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/7.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/8.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/9.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/10.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/11.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/12.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/13.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/14.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- <div class="row line-header">
      <div class="col-md"></div>
      <p class="col-md-auto f-18 bold secondary-color m-0 text-center">
        Detailed Description
      </p>
      <div class="col-md"></div>
    </div>
    <div class="row">
      <div class="col-md-4 service-card">
        <h3>1. Client-Centric Approach</h3>
        <p class="f-16 regular text-color m-0">
          Contract roasting allows coffee brands to maintain control over the
          quality and flavor profile of their coffee beans without the need for
          significant investments in roasting equipment and expertise. The
          client typically works closely with the contract roaster to specify
          their desired roast profiles and quality standards.
        </p>
      </div>

      <div class="col-md-4 service-card">
        <h3>2. Bean Sourcing</h3>
        <p class="f-16 regular text-color m-0">
          The client is responsible for sourcing green coffee beans from
          suppliers or coffee producers. They choose the beans based on factors
          like origin, variety, quality, and sustainability.
        </p>
      </div>

      <div class="col-md-4 service-card">
        <h3>3. Roasting Expertise</h3>
        <p class="f-16 regular text-color m-0">
          The contract roaster is an expert in coffee roasting. They use their
          knowledge, experience, and specialized equipment to roast the beans to
          the client's specifications. This includes determining the roast level
          (light, medium, dark, etc.) and the roast profile (temperature, time,
          airflow) to achieve the desired flavor characteristics.
        </p>
      </div>

      <div class="col-md-4 service-card">
        <h3>4. Quality Control</h3>
        <p class="f-16 regular text-color m-0">
          Contract roasters often have stringent quality control processes in
          place to ensure the coffee meets the agreed-upon standards. This can
          involve cupping sessions, sensory analysis, and feedback loops with
          the client to fine-tune the roast profiles.
        </p>
      </div>
      <div class="col-md-4 service-card">
        <h3>5. Scalability</h3>
        <p class="f-16 regular text-color m-0">
          Contract roasting allows coffee brands to scale their production more
          easily. They can adjust the volume of beans roasted based on market
          demand without the need to invest in additional roasting equipment or
          space.
        </p>
      </div>
      <div class="col-md-4 service-card">
        <h3>6. Branding and Packaging</h3>
        <p class="f-16 regular text-color m-0">
          After roasting, the coffee is typically packaged and labeled according
          to the client's branding guidelines. Some contract roasters may also
          offer packaging services, while others focus solely on roasting.
        </p>
      </div>
      <div class="col-md-4 service-card">
        <h3>7. Distribution</h3>
        <p class="f-16 regular text-color m-0">
          The client is usually responsible for distributing the roasted coffee
          to their customers, whether it be through retail channels, online
          sales, or wholesale distribution.
        </p>
      </div>
      <div class="col-md-4 service-card">
        <h3>8. Cost Structure</h3>
        <p class="f-16 regular text-color m-0">
          Contract roasting is often priced based on the volume of beans roasted
          or a fixed fee per batch, making it a cost-effective solution for
          small to medium-sized coffee brands.
        </p>
      </div>
      <div class="col-md-4 service-card">
        <h3>9. Confidentiality</h3>
        <p class="f-16 regular text-color m-0">
          Contract roasters understand the importance of confidentiality, as
          they may work with multiple clients who have proprietary roast
          recipes. They typically have strict confidentiality agreements in
          place to protect their clients' intellectual property.
        </p>
      </div>
    </div>

    <div class="row line-header">
      <div class="col-md"></div>
      <p class="col-md-auto f-18 bold secondary-color m-0 text-center">
        In Summary
      </p>
      <div class="col-md"></div>
    </div>
    <p class="f-16 regular text-color m-0 text-center">
      Contract roasting is a collaborative arrangement in the coffee industry
      that allows coffee brands to leverage the expertise and equipment of
      specialized roasting companies, ensuring consistent and high-quality
      coffee while freeing up resources for other aspects of their business.
    </p> -->

    <div class="d-flex justify-content-between">
      <a href="/services" class="link-btn secondary-color">
        <i class="fa fa-angle-left fa-2"></i>
        <p class="m-0">back to services</p>
      </a>
      <a
        href="../static/images/POS/Super-POS.pdf"
        target="_blank"
        class="link-btn secondary-color"
        download
        ><p class="m-0">download file</p>
        <i class="fa fa-download fa-2"></i>
      </a>
    </div>
  </div>
</div>

<!-- Services Part end -->
{% endblock%}
