<style>
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
</style>

{% extends 'layout.html' %} {% load static %} {% block title %}
<title>Caffeinehead - Services</title>
{% endblock%} {% block main_content %}

<!-- Main Cover Container -->
<div class="cover-container container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 d-flex flex-column gap-4">
      <p class="cover-title-1 m-0">POS</p>
      <div class="cover-title-3">
        A Point of Sale (POS) system is a software and hardware combination used
        by businesses to facilitate the sale of products or services to
        customers at the physical location where the transaction occurs. POS
        systems are commonly employed in various industries, including retail,
        hospitality, restaurants, and service-based businesses.
      </div>
      <a href="{% url 'contact' %}" class="btn primary-btn f-16 ">GET QUOTATION</a>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img class="w-50" src="{% static 'images/POS.png' %}" alt="..." />
    </div>
  </div>
</div>

<!-- Services Part Start -->
<div class="services-container">
  <div class="container">
    <div class="row pdf-carousel">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="6"
            aria-label="Slide 7"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="7"
            aria-label="Slide 8"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="8"
            aria-label="Slide 9"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="9"
            aria-label="Slide 10"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="10"
            aria-label="Slide 11"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="11"
            aria-label="Slide 12"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="12"
            aria-label="Slide 13"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="13"
            aria-label="Slide 14"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item h-100 active">
            <img
              src="{% static 'images/POS/1.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/2.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/3.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/4.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/5.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/6.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/7.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/8.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/9.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/10.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/11.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/12.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/13.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/POS/14.jpg' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <a href="/services" class="link-btn secondary-color">
        <i class="fa fa-angle-left fa-2"></i>
        <p class="m-0">back to services</p>
      </a>
      <a
        href="../static/images/POS/Super-POS.pdf"
        target="_blank"
        class="link-btn secondary-color"
        download
        ><p class="m-0">download file</p>
        <i class="fa fa-download fa-2"></i>
      </a>
    </div>
  </div>
</div>

<!-- Services Part end -->

<!-- Get Services -->
  <div class="container p-50">
    <div class="col-md-12 d-flex justify-content-center align-items-center flex-column gap-3">
      <p class="sub-heading">Get POS Services Today!</p>
      <p class="f-16 regular m-0 text-color text-center w-75">
        We can assist your organization in selecting, implementing, and training on industry-leading vulnerability management solutions tailored to your specific needs and requirements.
      </p>
      <a href="{% url 'contact' %}" class="btn primary-btn f-16 ">CONTACT US</a>
    </div>
</div>
{% endblock%}
