<style>
  .carousel-item img {
    height: 450px;
  }

  .card-img {
    overflow: hidden;
  }

  .card-img:hover img {
    transform: scale(1.5);
  }

  .card-img img {
    transition: all 2s;
  }

  .section {
    background-color: rgb(246, 246, 242);
  }

  .responsive {
    width: 75%;
    height: auto;
  }

  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }

  }
</style>

{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Caffeinehead - Homepage</title>
{% endblock%}

{% block main_content %}
<!-- carousel start -->

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/coffee.jpg' %}" class="d-block w-100" alt="image not found">

    </div>
  </div>
</div>



<!-- carousel end -->

<div class="best-features about-features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our Background</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src="{% static 'images/1.jpg'%}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>About Us</h4>
          <p>At CaffeineHead Blockchain Coffee, we are passionate about coffee and harnessing the power of blockchain technology to revolutionize the coffee industry. We believe in creating a transparent, sustainable, and fair coffee supply chain that benefits everyone involved, from farmers to consumers. <br>
            Our mission is to connect coffee lovers with the stories behind their favorite brews. We are committed to promoting transparency, traceability, and ethical practices in the coffee industry. By leveraging blockchain technology, we empower farmers, roasters, and consumers to make informed decisions and contribute to a more equitable and sustainable coffee ecosystem.
            </p>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

          </ul>
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <div class="right-content">
          <h4 class="font-weight-bold" >Our Story and Mission</h4>
          <p>Together, Brewing a better future, one cup at a time. From the iconic Sydney Opera House to hidden laneway cafes, every sip is a journey of transparency and trust. Through smart contracts and tokenization, they empowered coffee enthusiasts to support local farmers, ensuring fair trade and sustainability. As the aroma of freshly brewed coffee filled the air, CaffeineHead Blockchain Coffee Web 3 became synonymous with a vibrant and ethically-driven coffee scene in Sydney.<br>
            Awaken your coffee business with CaffeineHead Blockchain Technology. Our revolutionary solution brings together the power of blockchain and the rich aroma of coffee. Trace every bean's journey from farm to cup, ensuring transparency and quality at every step. With a simple scan, customers indulge in the captivating story behind their favorite brews. Connect with passionate coffee lovers, build a loyal community, and empower sustainable choices. Stand out in the competitive market with our cutting-edge technology and elevate your coffee brand to new heights
            
            </p>
         
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <div class="left-image">
          <img src="{% static 'images/1.jpg'%}" alt="">
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <div class="right-image">
          <img src="{% static 'images/1.jpg'%}" alt="">
        </div>
      </div>
      <div class="col-md-6 pt-5">
        <div class="left-content">
          <h4>Join the CaffeineHead Community</h4>
          <p>Become a part of the CaffeineHead community and embark on a journey to explore the world of specialty coffee like never before. With our commitment to transparency, sustainability, and exceptional taste, we invite you to join us in shaping a brighter future for coffee growers, consumers, and the planet. Indulge in the perfect cup of coffee while making a meaningful impact. Experience the union of great taste, technology, and social responsibility at CaffeineHead Blockchain Coffee. Start your coffee adventure with us today!
            </p>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our Team Members</h2>
        </div>
      </div>
      {% for member in members %}
      <div class="col-md-4">
        <div class="team-member">
          <div class="thumb-container">
            <img src="/{{member.image}}" alt="{{member.name}}">
            <div class="hover-effect">
              <div class="hover-content">
                <ul class="social-icons">
                  <li><a href="{{member.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="{{member.twitter}}"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="{{member.linkdin}}"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="down-content">
            <h4>{{member.name}}</h4>
            <span>{{member.position}}</span>
            <p>{{member.description}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Product Management</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Customer Relations</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <div class="icon">
            <i class="fa fa-gear"></i>
          </div>
          <div class="down-content">
            <h4>Global Collection</h4>
            <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.</p>
            <a href="#" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="happy-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Happy Partners</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-clients owl-carousel">
          <div class="client-item">
            <img src="{% static 'images/client-01.png'%}" alt="1">
          </div>

          <div class="client-item">
            <img src="{% static 'images/client-01.png'%}" alt="2">
          </div>

          <div class="client-item">
            <img src="{% static 'images/client-01.png'%}" alt="3">
          </div>

          <div class="client-item">
            <img src="{% static 'images/client-01.png'%}" alt="4">
          </div>

          <div class="client-item">
            <img src="{% static 'images/client-01.png'%}" alt="5">
          </div>

          <div class="client-item">
            <img src="{% static 'images/client-01.png'%}" alt="6">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<h4>Pay with PayPal</h4>

     print(form)

{% endblock%}