{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Caffeinehead - Homepage</title>
{% endblock%}

{% block main_content %}

<!-- PayPal button container -->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h3>Your order amount is Rs. {{order.total_price}}</h3>
      <div class="card p-2">

        <div id="paypal-button-container"></div>
        <!-- <div id="paypal-button"></div> -->


        <!-- PayPal client ID integration -->

        <script
          src="https://www.paypal.com/sdk/js?client-id=AeoW8Cx4_IhsNYculHN3x_oDQBXCLMS_C-9ndrLbnbjrMjfxgENDs-oTjr9VEqcaLYYHrHt-Mt9qVKsJ&currency=USD&intent=capture&enable-funding=venmo"
          data-sdk-integration-source="integrationbuilder"></script>


        <!-- PayPal JS SDK -->

        <script>
          function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          const csrftoken = getCookie('csrftoken');


          var tot_price = '{{order.total_price}}';
          var orderID = '{{order.id}}'
          var cartID = '{{cart.id}}'
        

          function completeOrder() {
            var url = "{% url 'complete' %}"

            fetch(url, {
              method: 'POST',
              headers: {
                'Content-type': 'application/json',
                'X-CSRFToken':csrftoken,

              },
              body: JSON.stringify({'orderID':orderID,'cartID':cartID})
            })
          }

          function complete(){
            var url = "{% url 'payment-success' %}"

            location.href = url
          }

          const paypalButtonsComponent = paypal.Buttons({
            // optional styling for buttons
            // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
            style: {
              color: "blue",
              shape: "pill",
              layout: "vertical",
            },

            // set up the transaction
            createOrder: (data, actions) => {
              // pass in any options from the v2 orders create call:
              // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
              const createOrderPayload = {
                purchase_units: [
                  {
                    amount: {
                      value: tot_price
                    }
                  }
                ]
              };

              return actions.order.create(createOrderPayload);
            },

            // finalize the transaction  
            onApprove: (data, actions) => {
              const captureOrderHandler = (details) => {
                const payerName = details.payer.name.given_name;
                // console.log('Transaction completed');
                completeOrder()
                
                // window.alert('Thank you for your purchase!');
                complete()


              };

              return actions.order.capture().then(captureOrderHandler);
            },


          



            // handle unrecoverable errors
            onError: (err) => {
              console.error('An error prevented the buyer from checking out with PayPal');



            }
          });

          paypalButtonsComponent
            .render("#paypal-button-container")
            .catch((err) => {
              console.error('PayPal Buttons failed to render');
            });

        </script>

        <!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                <script>
                var tot_price = '{{order.total_price}}';
                  paypal.Button.render({
                    // Configure environment
                    env: 'sandbox',
                    client: {
                      sandbox: 'AeoW8Cx4_IhsNYculHN3x_oDQBXCLMS_C-9ndrLbnbjrMjfxgENDs-oTjr9VEqcaLYYHrHt-Mt9qVKsJ',
                      production: 'demo_production_client_id'
                    },
                    // Customize button (optional)
                    locale: 'en_US',
                    style: {
                      size: 'small',
                      color: 'gold',
                      shape: 'pill',
                    },
                
                    // Enable Pay Now checkout flow (optional)
                    commit: true,
                
                    // Set up a payment
                    payment: function(data, actions) {
                      return actions.payment.create({
                        transactions: [{
                          amount: {
                            total: tot_price,
                            currency: 'USD'
                          }
                        }]
                      });
                    },
                    // Execute the payment
                    onAuthorize: function(data, actions) {
                      return actions.payment.execute().then(function() {
                        // Show a confirmation message to the buyer
                        window.alert('Thank you for your purchase!');
                      });
                    }
                  }, '#paypal-button');
                
                </script>
                 -->


      </div>
    </div>
  </div>
</div>



{% endblock%}