<style>
   .detail-img{
    height: 25vw;
    object-fit: contain;
   }


   
/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px !important;
    background: #eee !important;
    padding: 3em !important;
    line-height: 1.5em !important;
border: none !important; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a !important;
    padding: 1.2em 1.5em !important;
    border: none !important ;
    text-transform: UPPERCASE !important;
    font-weight: bold !important;
    color: #fff !important;
    -webkit-transition: background .3s ease !important;
            transition: background .3s ease !important; }
    .add-to-cart:hover, .like:hover {
      background: #b36800 !important;
      color: #fff !important; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  /*# sourceMappingURL=style.css.map */


</style>

{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>E-commerce - ProductPage</title>

{% endblock%}

{% block main_content %}


<!-- card start -->
<!-- <div class="container">
    <div class="d-flex mt-3">
        <div class="col-md-4">
            <img class="detail-img" src="/{{products.image}}" alt="{{products.product_name}}" width="500">

        </div>
        <div class="offset-md-2 col-md-6 shadow">
            <h2 class="text-muted text-center">{{products.product_name}}</h2>
            <h2 class="text-center">Rs. {{products.product_price}}</h2>
            <h3 class="text-center">Available Quantity : {{products.stock}}</h3>
            <p class="text-center"><b>Category: {{products.category}}</b></p>
            <p class="text-muted text-center">{{products.description}}</p>
            <center>
                <a href="/products/add_to_cart/{{products.id}}" class="btn btn-success" >Add To Cart</a>
            </center>
        </div>
    </div>
</div> -->



<!-- card end -->

<!-- product detail start -->
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img class="detail-img" src="/{{products.image}}" /></div>
                      
                    </div>
                  
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{products.product_name}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description">{{products.description}}</p>
                    <h4 class="price">current price: <span>$180</span></h4>
                    
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <h5 class="sizes">sizes:
                        <span class="size" data-toggle="tooltip" title="small">s</span>
                        <span class="size" data-toggle="tooltip" title="medium">m</span>
                        <span class="size" data-toggle="tooltip" title="large">l</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                    </h5>
                    <h6 class="sizes">Available Quantity: <span>{{products.stock}}</span></h6>
                   
                    <div class="action">
                        <!-- <button class="add-to-cart btn btn-default" type="button">add to cart</button> -->
                        <a href="/products/add_to_cart/{{products.id}}" class="add-to-cart btn btn-default" >Add To Cart</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product detail end -->

<div class="products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="filters">
            <h4 class="text-danger">Flash Sale</h4>
          </div>
        </div>
        <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
                  {% for product in product%}
                  <div class="col-lg-4 col-md-4 all ">
                    <div class="product-item">
                      <a href="#"><img src="/{{product.image}}" alt="{{product.product_name}}"></a>
                      <div class="down-content">
                        <a href="#"><h4>{{product.product_name}}</h4></a>
                        <h6>Rs. {{product.product_price}}</h6>
                        <p>{{product.description}}</p>
                      
                        <ul class="stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (12)</span>
                        <a href="/productdetails/{{product.id}}" class="btn btn-success text-center" style="margin-top: 15px;">View Details</a>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  
                 
              </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


{% endblock%}