<style>
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
</style>

{% extends 'layout.html' %} {% load static %} {% block title %}
<title>Caffeinehead - Homepage</title>
{% endblock%} {% block main_content %}

<!-- Main Cover Container -->
<div class="cover-container container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 d-flex flex-column gap-4">
      <p class="cover-title-1 m-0">Services</p>
      <div class="cover-title-3">
        Our services are designed with you in mind. Whether you're looking for
        expert guidance in technology, creative solutions in design, or
        dependable support in consulting, we have you covered. Our team of
        experienced professionals is committed to delivering top-notch services
        that meet your unique needs. From concept to completion, we're here to
        help you achieve your goals and exceed your expectations. Explore our
        range of services and let us be your partner in success.
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        class="w-100"
        src="{% static 'images/ServicesCoverImage.png' %}"
        alt="..."
      />
    </div>
  </div>
</div>

<!-- Promo-icon Part -->
<div class="promo-icon p-50 coffee-bg">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center gap-5">
      <div class="col-md-3 icon-flex">
        <img
          class="col-md-6"
          src="{% static 'images/together-icon.png'%}"
          alt=""
        />
        <p>Together</p>
      </div>

      <div class="col-md-3 icon-flex">
        <img
          class="col-md-6"
          src="{% static 'images/brewing-icon.png'%}"
          alt=""
        />
        <p>Brewing a better future</p>
      </div>

      <div class="col-md-3 icon-flex">
        <img
          class="col-md-6"
          src="{% static 'images/one-cup-icon.png'%}"
          alt=""
        />
        <p>One cup at a time</p>
      </div>
    </div>
  </div>
</div>
<!-- Promo-icon part end -->

<!-- Our Team Part -->
<div class="our-team p-50 coffee-bg">
  <div class="container">
    <div
      class="col-md-12 d-flex justify-content-center align-items-center flex-column gap-3"
    >
      <p class="sub-heading">Know our workforce</p>
      <p class="f-16 regular m-0 white-color text-center w-75">
        Behind the scenes, our dedicated crew works tirelessly to bring our
        vision to life. Each member brings a unique set of skills and a shared
        passion for excellence. Together, we are committed to delivering
        exceptional results, fueled by creativity and collaboration. Meet the
        faces driving our success and join us on this exciting journey.
      </p>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
      <!-- For main People -->
      {% for member in members %}
      <div class="col-md-4 mb-4">
        <div
          class="team-member ele-1"
          style="background-image: url('/{{member.image}}')"
        >
          <div class="team-detail">
            <div
              class="d-flex flex-column gap-1 align-items-center justify-content-start"
            >
              <p class="bold f-20 text-uppercase m-0 text-color">
                {{member.name}}
              </p>
              <span class="m-0 semi-bold f-16 neutral-500-color"
                >{{member.position}}</span
              >
              <div class="regular f-14 text-color hidden">
                {{member.description}}
              </div>
            </div>

            <ul class="social-icons">
              <li>
                <a href="{{member.facebook}}"
                  ><i class="fab fa-facebook-square"></i
                ></a>
              </li>
              <li>
                <a href="{{member.twitter}}"
                  ><i class="fab fa-twitter-square"></i
                ></a>
              </li>
              <li>
                <a href="{{member.linkdin}}"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %} {% for member in members %}

      <!-- For Other Employee -->
      <div class="col-md-3 mb-4">
        <div
          class="team-member ele-1"
          style="background-image: url('/{{member.image}}')"
        >
          <div class="team-detail">
            <div
              class="d-flex flex-column gap-1 align-items-center justify-content-start"
            >
              <p class="bold f-20 text-uppercase m-0 text-color">
                {{member.name}}
              </p>
              <span class="m-0 semi-bold f-16 neutral-500-color"
                >{{member.position}}</span
              >
              <div class="regular f-14 text-color hidden">
                {{member.description}}
              </div>
            </div>

            <ul class="social-icons">
              <li>
                <a href="{{member.facebook}}"
                  ><i class="fab fa-facebook-square"></i
                ></a>
              </li>
              <li>
                <a href="{{member.twitter}}"
                  ><i class="fab fa-twitter-square"></i
                ></a>
              </li>
              <li>
                <a href="{{member.linkdin}}"><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Our Team part end -->

{% endblock%}
