{% extends 'components/base.html' %}
{% load static %}
<style>
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
</style>

{% block title %}
<title>Caffeinehead - Services</title>
{% endblock%}
{% block main_content %}

<!-- Main Cover Container -->
<div class="cover-container container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 d-flex flex-column gap-4">
      <p class="cover-title-1 m-0">Web and Mobile Application Development</p>
      <div class="cover-title-3">
        Web and mobile application development is the process of creating
        software applications specifically designed to operate on the internet
        (web applications) or mobile devices (mobile applications). These
        applications serve a wide range of purposes, from entertainment and
        communication to business productivity and e-commerce.
      </div>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        class="w-50"
        src="{% static 'images/Web and Mobile Application Development.png' %}"
        alt="..."
      />
    </div>
  </div>
</div>

<!-- Services Part Start -->

<div class="services-container">
  <!-- Web View -->
  <div class="container desktop-view">
    <table class="table no-lines table-striped">
      <thead>
        <tr class="bold f-32 secondary-color align-top">
          <th>Plans & <br />Features</th>
          <th>
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="mb-0">Starter</p>
              <p class="regular text-color f-16 mb-0 text-center">
                Begin with our essential plans, packed with key tools for a
                strong start.
              </p>
            </div>
          </th>
          <th>
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="mb-0">Standard <span class="primary-color">*</span></p>
              <p class="regular text-color f-16 mb-0 text-center">
                Step up with our standard plans, providing enhanced features for
                your evolving needs.
              </p>
            </div>
          </th>
          <th>
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="mb-0">Premium</p>
              <p class="regular text-color f-16 mb-0 text-center">
                Upgrade to Premium for exclusive advanced features and a premium
                user experience.
              </p>
            </div>
          </th>
        </tr>
        <tr class="bold f-32 secondary-color align-top">
          <th class="p-2 pb-5"></th>
          <th class="p-2 pb-5">
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="f-24 mb-0 text-center">
                $500 <span class="f-14 regular text-color">/package</span>
              </p>
              <a href="" class="btn secondary-ghost-btn f-16">GET STARTED</a>
            </div>
          </th>
          <th class="p-2 pb-5">
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="f-24 mb-0 text-center">
                $2,000 <span class="f-14 regular text-color">/package</span>
              </p>
              <a href="" class="btn secondary-ghost-btn f-16">GET STARTED</a>
            </div>
          </th>
          <th class="p-2 pb-5">
            <div class="d-flex gap-2 flex-column align-items-center">
              <p class="f-24 mb-0 text-center">
                $5,000 <span class="f-14 regular text-color">/package</span>
              </p>
              <a href="" class="btn secondary-ghost-btn f-16">GET STARTED</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" class="f-16 secondary-color">
            Content Management System
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">
            Admin Side Management
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Number of Pages</td>
          <td>4-5</td>
          <td>8-10</td>
          <td>15+</td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Responsive Design</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Logo Design</td>
          <td>1 Draft</td>
          <td>2 Draft</td>
          <td>3 Draft</td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Contact Form</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Search Feature</td>
          <td></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">
            Testimonials and Reviews
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Photo Slider</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Payment Gateway</td>
          <td></td>
          <td></td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Buying Feature</td>
          <td></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Chat Integration</td>
          <td></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Hosting</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">SEO Semantic</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Social Media Links</td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
          <td>
            <i class="far f-18 fa-check-circle success-color"></i>
          </td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
        <tr>
          <td scope="row" class="f-16 secondary-color">Product Upload</td>
          <td></td>
          <td></td>
          <td><i class="far f-18 fa-check-circle success-color"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Mobile View -->
  <div class="container mobile-card">
    <div class="row">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators mb-0">
          <button
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="pricing-card">
              <div class="pricing-head">
                <p class="mb-0 secondary-color bold f-32">Starter</p>
                <p class="regular text-color f-16 mb-0 text-center">
                  Begin with our essential plans, packed with key tools for a
                  strong start.
                </p>
                <div
                  class="d-flex gap-2 flex-column align-items-center secondary-color"
                >
                  <p class="f-24 mb-0 text-center bold">
                    $500 <span class="f-14 regular text-color">/package</span>
                  </p>
                  <a href="" class="btn secondary-ghost-btn f-16"
                    >GET STARTED</a
                  >
                </div>
              </div>
              <div class="pricing-body">
                <div class="f-16 secondary-color">
                  Content Management System<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Admin Side Management<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Number of Pages
                  <p class="m-0">4-5</p>
                </div>
                <div class="f-16 secondary-color">
                  Responsive Design<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Logo Design
                  <p class="m-0">1 Draft</p>
                </div>
                <div class="f-16 secondary-color">
                  Contact Form<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Testimonials and Reviews<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Photo Slider<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Hosting<i class="far f-18 fa-check-circle success-color"></i>
                </div>
                <div class="f-16 secondary-color">
                  SEO Semantic<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Social Media Links<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="pricing-card recommended">
              <div class="pricing-head">
                <p class="mb-0 secondary-color bold f-32">
                  Standard <span class="primary-color">*</span>
                </p>
                <p class="regular text-color f-16 mb-0 text-center">
                  Step up with our standard plans, providing enhanced features
                  for your evolving needs.
                </p>
                <div
                  class="d-flex gap-2 flex-column align-items-center secondary-color"
                >
                  <p class="f-24 mb-0 text-center bold">
                    $2,000 <span class="f-14 regular text-color">/package</span>
                  </p>
                  <a href="" class="btn secondary-ghost-btn f-16"
                    >GET STARTED</a
                  >
                </div>
              </div>
              <div class="pricing-body">
                <div class="f-16 secondary-color">
                  Content Management System<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Admin Side Management<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Number of Pages
                  <p class="m-0">8-10</p>
                </div>
                <div class="f-16 secondary-color">
                  Responsive Design<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Logo Design
                  <p class="m-0">2 Draft</p>
                </div>
                <div class="f-16 secondary-color">
                  Contact Form<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Search Feature<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Testimonials and Reviews<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Photo Slider<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Buying Feature<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Chat Integration<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Hosting<i class="far f-18 fa-check-circle success-color"></i>
                </div>
                <div class="f-16 secondary-color">
                  SEO Semantic<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Social Media Links<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="pricing-card">
              <div class="pricing-head">
                <p class="mb-0 secondary-color bold f-32">Premium</p>
                <p class="regular text-color f-16 mb-0 text-center">
                  Upgrade to Premium for exclusive advanced features and a
                  premium user experience.
                </p>
                <div
                  class="d-flex gap-2 flex-column align-items-center secondary-color"
                >
                  <p class="f-24 mb-0 text-center bold">
                    $5,000 <span class="f-14 regular text-color">/package</span>
                  </p>
                  <a href="" class="btn secondary-ghost-btn f-16"
                    >GET STARTED</a
                  >
                </div>
              </div>
              <div class="pricing-body">
                <div class="f-16 secondary-color">
                  Content Management System<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Admin Side Management<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Number of Pages
                  <p class="m-0">15+</p>
                </div>
                <div class="f-16 secondary-color">
                  Responsive Design<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Logo Design
                  <p class="m-0">3 Draft</p>
                </div>
                <div class="f-16 secondary-color">
                  Contact Form<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Search Feature<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Testimonials and Reviews<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Photo Slider<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Payment Gateway<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Buying Feature<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Chat Integration<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Hosting<i class="far f-18 fa-check-circle success-color"></i>
                </div>
                <div class="f-16 secondary-color">
                  SEO Semantic<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Social Media Links<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
                <div class="f-16 secondary-color">
                  Product Upload<i
                    class="far f-18 fa-check-circle success-color"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center w-100">
    <a href="/services" class="link-btn secondary-color">
      <i class="fa fa-angle-left fa-2"></i>
      <p class="m-0">back to services</p>
    </a>
  </div>
</div>
<!-- Services Part end -->

<!-- Get Services -->
<div class="container p-50">
  <div
    class="col-md-12 d-flex justify-content-center align-items-center flex-column gap-3"
  >
    <p class="f-16 regular m-0 text-color text-center w-75">
      If you find yourself uncertain about your requirements, feel free to reach
      out to us for personalized guidance. We are here to assist you in
      navigating any confusion and providing tailored support based on your
      specific needs.
    </p>
    <a href="{% url 'contact_us' %}" class="btn primary-btn f-16">CONTACT US</a>
  </div>
</div>
{% endblock%}
