{% extends 'components/base.html' %}
{% load static %}
<style>
  @media only screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto;
    }
  }
</style>

{% block title %}
<title>Caffeinehead - Services</title>
{% endblock%}
{% block main_content %}

<!-- Main Cover Container -->
<div class="cover-container container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 d-flex flex-column gap-4">
      <p class="cover-title-1 m-0">Contract Roasting</p>
      <div class="cover-title-3">
        Contract roasting is a business arrangement in the coffee industry where
        one coffee roasting company, known as the contract roaster, provides
        roasting services for another company, known as the client or brand
        owner. This arrangement allows the client to focus on other aspects of
        their coffee business, such as sourcing beans, branding, marketing, and
        distribution, while outsourcing the roasting process to a specialized
        roasting company.
      </div>
      <a href="{% url 'contact_us' %}" class="btn primary-btn f-16 ">GET QUOTATION</a>
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <img
        class="w-100"
        src="{% static 'images/Contract Roasting.png' %}"
        alt="..."
      />
    </div>
  </div>
</div>

<!-- Services Part Start -->

<div class="services-container">
  <div class="container">
    <div class="row pdf-carousel">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="6"
            aria-label="Slide 7"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="7"
            aria-label="Slide 8"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="8"
            aria-label="Slide 9"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="9"
            aria-label="Slide 10"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="10"
            aria-label="Slide 11"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="11"
            aria-label="Slide 12"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item h-100 active">
            <img
              src="{% static 'images/ContractRoasting/1.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/2.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/3.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/4.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/5.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/6.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/7.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/8.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/9.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/10.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/11.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="{% static 'images/ContractRoasting/12.png' %}"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <a href="/services" class="link-btn secondary-color">
        <i class="fa fa-angle-left fa-2"></i>
        <p class="m-0">back to services</p>
      </a>
      <a
        href="{% static 'images/ContractRoasting/CHBC_ContractRoasting.pdf' %}"
        target="_blank"
        class="link-btn secondary-color"
        ><p class="m-0">view PDF file</p>
        <i class="fa fa-download fa-2"></i>
      </a>
    </div>


  </div>

  </div>
<!-- Services Part end -->

<!-- Get Services -->
  <div class="container p-50">
    <div class="col-md-12 d-flex justify-content-center align-items-center flex-column gap-3">
      <p class="sub-heading">Get Contract Roasting Services Today!</p>
      <p class="f-16 regular m-0 text-color text-center w-75">
        We can assist your organization in selecting, implementing, and training on industry-leading vulnerability management solutions tailored to your specific needs and requirements.
      </p>
      <a href="{% url 'contact_us' %}" class="btn primary-btn f-16 ">CONTACT US</a>
    </div>
</div>
{% endblock%}
