{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="mx-auto bg-light p-5 rounded" style="width: 50%;">
        <h2 class="text-center">Reset password</h2>
        <br>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}
